# Virtual Environment
venv/
.venv/

# Environment variables
.env

# Python cache
__pycache__/
*.pyc

# Logs
logs/
*.log

# Database
db.sqlite3

# VS Code settings
.vscode/

# PyCharm settings
.idea/

# OS files
.DS_Store
Thumbs.db

# Build files
build/
dist/
*.egg-info/

# Testing
.coverage
htmlcov/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints/
Artifacts/
mlruns/
mlflow.db